.player {
    height: 60px;
    position: relative;
}
.btn {
    background-color: #8F11B3;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    color: white;
    font-size: 25px;
    height: 60px;
    left: 10px;
    line-height: 60px;
    position: absolute;
    width: 60px;
}
.btn:hover {
    background-color: #a714d1;
    transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
}
.btn:active {
    background-color: #9512ba;
    box-shadow: 0 1px 4px rgba(0,0,0,.3) inset, 0 1px 2px rgba(0,0,0,.3);
}
.btn.icon-play {
    padding-left: 4px;
}
.player-title {
    font-size: 10pt;
    left: 80px;
    overflow-x: hidden;
    position: absolute;
    right: 10px;
    text-align: right;
    text-overflow: ellipsis;
    top: 10px;
    white-space: nowrap;
}
.player-title .download-link {
    font-size: 10px;
}
.time {
    bottom: 10px;
    font-size: 8pt;
    position: absolute;
    right: 10px;
}
.progress {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,.8) inset;
    cursor: pointer;
    left: 80px;
    position: absolute;
    right: 10px;
    top: 30px;
}
.progress > .progress-bar {
    background-color: #8F11B3;
    border-radius: 3px;
    height: 5px;
    margin-left: -1px;
}